# üìä Mini Projet : Pandas

Dans le cadre d‚Äôun projet de recherche, notre universit√© souhaite exploiter des donn√©es stock√©es dans un
fichier Excel (voir le fichier mini_projet_1). Ce fichier pr√©sente une petite partie des donn√©es.

## I. Importation des librairies

In [1]:
import pandas as pd

## II. Importation du jeu de donn√©es

In [2]:
df = pd.read_excel("mini_projet_1.xlsx")

df.head()

,Id,Nom,Prenom,Universit√©,Grade,Sp√©cialit√©,Structure de recherche Porteuse,Membre des structures de recherche partenaires,Unnamed: 8,Unnamed: 9,Unnamed: 10,Publications Scientifiques,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nom et Pr√©nom,Grade,Sp√©cialit√©,Intitul√© de la structure,NaN,NaN
1,1.0,Hakam,Amine,UM5R,PES,Informatique,IPSS,chercheur 1,PA,Informatique,IPSS,Nombre des articles,20.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,chercheur 2,PES,Informatique,SSBK,Nombre des communications,10.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,chercheur 3,PA,Informatique,MISC,Nombre de th√®ses encadr√©es,4.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,chercheur 4,PA,Sant√©,H2C,NaN,NaN

## III. Data Exploration & Cleaning

On remplace les valeurs NaN en dessous de chaque personne par la valeur qui la pr√©c√©de gr√¢ce √† la fonction `fillna()` et la mathod `ffill` ou `forward fill`.

In [3]:
df[['Id','Nom', 'Prenom', 'Universit√©', 'Grade', 'Sp√©cialit√©','Structure de recherche Porteuse']] = df[['Id','Nom', 'Prenom', 'Universit√©', 'Grade', 'Sp√©cialit√©','Structure de recherche Porteuse']].fillna(method='ffill')

On renomme des colonnes "Unnamed" avec leurs noms qui sont d√©cal√©s d'une ligne apr√©s importation et on supprime la premi√®re ligne.

In [4]:
df = df.iloc[1:, :]
df.head()

,Id,Nom,Prenom,Universit√©,Grade,Sp√©cialit√©,Structure de recherche Porteuse,Membre des structures de recherche partenaires,Unnamed: 8,Unnamed: 9,Unnamed: 10,Publications Scientifiques,Unnamed: 12
1,1.0,Hakam,Amine,UM5R,PES,Informatique,IPSS,chercheur 1,PA,Informatique,IPSS,Nombre des articles,20.0
2,1.0,Hakam,Amine,UM5R,PES,Informatique,IPSS,chercheur 2,PES,Informatique,SSBK,Nombre des communications,10.0
3,1.0,Hakam,Amine,UM5R,PES,Informatique,IPSS,chercheur 3,PA,Informatique,MISC,Nombre de th√®ses encadr√©es,4.0
4,1.0,Hakam,Amine,UM5R,PES,Informatique,IPSS,chercheur 4,PA,Sant√©,H2C,NaN,NaN
5,2.0,Chakour,Hatim,UIT,PES,Informatique,MISC,chercheur A,PES,Physique,KZEE,Nombre des articles,10.0

In [5]:
df = df.rename({'Unnamed: 8': 'Grade_partenaire', 'Unnamed: 9': 'Sp√©cialit√©_partenaire', 'Unnamed: 10': 'Intitul√© de la structure', 'Unnamed: 12': 'Nombre'}, axis='columns')
df.head()

,Id,Nom,Prenom,Universit√©,Grade,Sp√©cialit√©,Structure de recherche Porteuse,Membre des structures de recherche partenaires,Grade_partenaire,Sp√©cialit√©_partenaire,Intitul√© de la structure,Publications Scientifiques,Nombre
1,1.0,Hakam,Amine,UM5R,PES,Informatique,IPSS,chercheur 1,PA,Informatique,IPSS,Nombre des articles,20.0
2,1.0,Hakam,Amine,UM5R,PES,Informatique,IPSS,chercheur 2,PES,Informatique,SSBK,Nombre des communications,10.0
3,1.0,Hakam,Amine,UM5R,PES,Informatique,IPSS,chercheur 3,PA,Informatique,MISC,Nombre de th√®ses encadr√©es,4.0
4,1.0,Hakam,Amine,UM5R,PES,Informatique,IPSS,chercheur 4,PA,Sant√©,H2C,NaN,NaN
5,2.0,Chakour,Hatim,UIT,PES,Informatique,MISC,chercheur A,PES,Physique,KZEE,Nombre des articles,10.0

On remplace les valeurs manquantes par des 0 et on modifie le dtype de Id et Nombre √† un type entier.

In [6]:
df = df.fillna(0)
df[['Id', 'Nombre']] = df[['Id', 'Nombre']].astype('int')

On remplace l'index par la colonne Id

In [7]:
df.set_index('Id', inplace=True, drop=True)
df.head()

,Nom,Prenom,Universit√©,Grade,Sp√©cialit√©,Structure de recherche Porteuse,Membre des structures de recherche partenaires,Grade_partenaire,Sp√©cialit√©_partenaire,Intitul√© de la structure,Publications Scientifiques,Nombre
Id,,,,,,,,,,,,
1,Hakam,Amine,UM5R,PES,Informatique,IPSS,chercheur 1,PA,Informatique,IPSS,Nombre des articles,20
1,Hakam,Amine,UM5R,PES,Informatique,IPSS,chercheur 2,PES,Informatique,SSBK,Nombre des communications,10
1,Hakam,Amine,UM5R,PES,Informatique,IPSS,chercheur 3,PA,Informatique,MISC,Nombre de th√®ses encadr√©es,4
1,Hakam,Amine,UM5R,PES,Informatique,IPSS,chercheur 4,PA,Sant√©,H2C,0,0
2,Chakour,Hatim,UIT,PES,Informatique,MISC,chercheur A,PES,Physique,KZEE,Nombre des articles,10

## IV. R√©ponses aux quetions

- (1, 2, 3) Donner le nombre d‚Äôarticles, communications et de th√®ses encadr√©es pour chaque chercheur.

In [8]:
articles = df.groupby(['Nom', 'Prenom','Publications Scientifiques'])['Nombre'].sum()
articles

Nom      Prenom  Publications Scientifiques
Amouri   Aya     0                              0
                 Nombre de th√®ses encadr√©es     7
                 Nombre des articles           15
                 Nombre des communications     15
Chakour  Hatim   0                              0
                 Nombre de th√®ses encadr√©es     3
                 Nombre des articles           10
                 Nombre des communications      5
Hakam    Amine   0                              0
                 Nombre de th√®ses encadr√©es     4
                 Nombre des articles           20
                 Nombre des communications     10
Hayoun   Adam    Nombre de th√®ses encadr√©es     7
                 Nombre des articles           15
                 Nombre des communications     15
Name: Nombre, dtype: int32

- (4) Donner le total des publications scientifiques.

In [9]:
pub_sci = df.groupby(['Nom', 'Prenom'])['Nombre'].sum()
pub_sci

Nom      Prenom
Amouri   Aya       37
Chakour  Hatim     18
Hakam    Amine     34
Hayoun   Adam      37
Name: Nombre, dtype: int32

- (5) Donner le nombre des membres des structures de recherche partenaires pour chaque
chercheur

In [11]:
num_chercheurs = df.groupby(['Nom', 'Prenom'])['Membre des structures de recherche partenaires'].count()
num_chercheurs

Nom      Prenom
Amouri   Aya       5
Chakour  Hatim     5
Hakam    Amine     4
Hayoun   Adam      3
Name: Membre des structures de recherche partenaires, dtype: int64

- (6) Lister les intitul√©s de la structure pour chaque chercheur (sans les dupliqu√©s)

In [12]:
struct_chercheurs = df.groupby(['Nom', 'Prenom'])['Intitul√© de la structure'].unique()
struct_chercheurs

Nom      Prenom
Amouri   Aya             [FFSD, ZQW, MARO]
Chakour  Hatim          [KZEE, S2SD, MISC]
Hakam    Amine     [IPSS, SSBK, MISC, H2C]
Hayoun   Adam                   [CASIF, 0]
Name: Intitul√© de la structure, dtype: object

- (7) Lister les Sp√©cialit√©s de la structure pour chaque chercheur (sans les dupliqu√©s)

In [13]:
specialite_chercheurs = df.groupby(['Nom', 'Prenom'])['Sp√©cialit√©_partenaire'].unique()
specialite_chercheurs

Nom      Prenom
Amouri   Aya       [Informatique, Electrique, Physique]
Chakour  Hatim          [Physique, Informatique, Sant√©]
Hakam    Amine                    [Informatique, Sant√©]
Hayoun   Adam                             [Physique, 0]
Name: Sp√©cialit√©_partenaire, dtype: object

- (8) Effectuer une recherche par le champ Id et afficher le nom et le pr√©nom du chercheur

In [18]:
df.loc[df.index == 1, ['Nom', 'Prenom']].head(1)

      Nom Prenom
Id
1   Hakam  Amine

- (9)

In [19]:
df.loc[df.index == 1, ['Nom', 'Prenom','Universit√©','Grade','Sp√©cialit√©','Structure de recherche Porteuse']].head(1)

,Nom,Prenom,Universit√©,Grade,Sp√©cialit√©,Structure de recherche Porteuse
Id,,,,,,
1,Hakam,Amine,UM5R,PES,Informatique,IPSS

In [20]:
df.loc[df.index == 1, ['Membre des structures de recherche partenaires','Grade','Sp√©cialit√©_partenaire','Intitul√© de la structure']]

,Membre des structures de recherche partenaires,Grade,Sp√©cialit√©_partenaire,Intitul√© de la structure
Id,,,,
1,chercheur 1,PES,Informatique,IPSS
1,chercheur 2,PES,Informatique,SSBK
1,chercheur 3,PES,Informatique,MISC
1,chercheur 4,PES,Sant√©,H2C

In [21]:
df.loc[df.index == 1, ['Publications Scientifiques','Nombre']]

    Publications Scientifiques  Nombre
Id
1          Nombre des articles      20
1   Nombre des communications       10
1   Nombre de th√®ses encadr√©es       4
1                            0       0